{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_submit %}
{% block title %}找回密码{% endblock %}

{% block content %}
<div class="form-horizontal">
  <br>
  <h3 class="text-center">找回密码</h3>
  <br>
    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    {{ render_field_with_errors(forgot_password_form.email) }}
    {{ render_submit('找回') }}
    </form>
    <br>
    {% include "security/menu.html" %}
  </div>
{% endblock %}
